* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sonsie One", cursive;
}

html {
  background-color: $background-color;
  color: $font-color;
}

.brand {
  font-size: 2.5rem;
  color: $brand-color;
}

.hero-img img {
  width: 100%;
  height: 400px;
  opacity: 0.6;
}
